{{#unless onReportsRoute}}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HelpDesk</a>
  <div class="collapse navbar-collapse" id="main-menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to 'index' class='nav-link'}}Dashboard{{/link-to}}
      </li>
    </ul>
    <ul class='navbar-nav float-right'>
      <li class='nav-item'>
        {{#if session.isAuthenticated}}
          <a href='#' {{action 'invalidateSession'}} class='nav-link'>Logout</a>
        {{else}}
          {{#link-to 'login' class='nav-link'}}Login{{/link-to}}
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
{{/unless}}
{{outlet}}
